<% layout("/layouts/boilerplate") %>

<div class="row mt-3">
  <div class="col-8 offset-2">
    <h3>Edit listing</h3>
    <form method="POST" 
      action="/listings/<%=listing._id%>?_method=PUT" 
      class="needs-validation" 
      novalidate 
      enctype="multipart/form-data"
      
    >
      <div class="mb-3">
        <label for="title" class="form-lebel">Title</label>
        <input
          name="listing[title]"
          value="<%=listing.title%>"
          type="text"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good !</div>
        <div class="invalid-feedback">Title should be valid!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-lebel">Description</label>
        <textarea name="listing[description]" class="form-control"><%=listing.description%>
            </textarea
            required
        >
        <div class="invalid-feedback">Please enter a short description</div>
      </div>
      <div class="mb-3">
        Original Listing Image <br>
        <img src="<%=oldImage%>" alt="">
      </div>
      <div class="mb-3">
        <label for="image" class="form-lebel">Upload New Image</label>
        <input
          name="listing[image]"
          type="file"
          class="form-control"
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-lebel">Price</label>
          <input
            name="listing[price]"
            value="<%=listing.price%>"
            type="number"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Please enter a valid amount!</div>
        </div>


        <div class="mb-3 col-md-">
          <label for="country" class="form-lebel">Country</label>
          <input
            name="listing[country]"
            value="<%=listing.country%>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Country should be valid!</div>
        </div>
      </div>

      <div class="mb-3">
        <label for="location" class="form-lebel">Location</label>
        <input
          name="listing[location]"
          value="<%=listing.location%>"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid!</div>
      </div>

      <button class="btn btn-dark edit-button mt-3">Edit</button>
    </form>
  </div>
</div>
