<% layout("/layouts/boilerplate") %> 



<div id="filters">
    <div class="filter" data-filter="trending">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
    </div>

    <div class="filter" data-filter="rooms">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
    </div>

    <div class="filter" data-filter="iconic">
        <div><i class="fa-solid fa-mountain-city"></i></div>
        <p>Iconic Cities</p>
    </div>

    <div class="filter" data-filter="castles">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
    </div>

    <div class="filter" data-filter="mountains">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountain Views</p>
    </div>

    <div class="filter" data-filter="camping">
        <div><i class="fa-solid fa-tent"></i></div>
        <p>Camping</p>
    </div>

    <div class="filter">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Nature</p>
    </div>

    <div class="filter">
    <div><i class="fa-solid fa-tractor"></i></div>
    <p>Farms</p>
    </div>

    <div class="filter">
    <div><i class="fa-solid fa-snowflake"></i></div>
    <p>Arctic</p>
    </div>

    <div class="filter">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boats</p>
    </div>

    <!-- <div class="tax-switch">
        <div class="form-check-reverse form-switch">
            <input 
                class="form-check-input" 
                type="checkbox" 
                role="switch" 
                id="flexSwitchCheckDefault">
            <label 
                class="form-check-label" 
                for="flexSwitchCheckDefault">Display total</label>    
        </div>
    </div> -->
</div>

    <% if (alllistings.length === 0) { %>
        <div class="no-results-container">
            <div class="no-results-content">
                <i class="fa-solid fa-search fa-3x mb-4"></i>
                <h3>No listings found</h3>
                <% if (searchQuery) { %>
                    <p>We couldn't find any listings matching "<%= searchQuery %>"</p>
                <% } else { %>
                    <p>We couldn't find any listings matching your criteria</p>
                <% } %>
                <a href="/listings" class="btn btn-dark mt-3">Clear Search</a>
            </div>
        </div>
    <% } %>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
        <% for(let listing of alllistings){ %>
            <% if(listing.price<=200 || 1 ){ %>
                <a href="/listings/<%=listing._id %>" class="listing-link">
                    <div class="card col listing-card" style="width: 20rem;">
                        <img 
                            src=<%= listing.image.url %> 
                            class="card-img-top" 
                            alt="..."
                        >
                        <div class="card-img-overlay"></div>
                        <div class="card-body">
                            <p class="card-text">
                                <b><%= listing.title %></b>
                                <br>
                                ₹ <%= listing.price.toLocaleString("en-IN") %> / night 
                                <i class="tax-info">&nbsp; +18% GST</i>
                            </p>
                            
                        </div> 
                    </div>
                </a>
            <% } %>
        <% } %>    </div>

<script>
    let taxSwitch = document.getElementById("flexSwitchCheckDefault");
    taxSwitch.addEventListener("click", ()=>{
        let txx = document.getElementsByClassName("tax-info");
        for(info of txx){
            if(info.style.display != "inline"){
                info.style.display = "inline"
            }else{
                info.style.display = "none"
            }
            
        }
    })
</script>
